In [2]:
import pandas as pd
import os

In [3]:
lm = pd.read_csv("/Users/apple/PROJECT/Hons-project/LM_dict.csv")
lm = lm[['Word','Negative','Positive','Uncertainty']]

In [4]:
lm

            Word  Negative  Positive  Uncertainty
0       AARDVARK         0         0            0
1      AARDVARKS         0         0            0
2          ABACI         0         0            0
3          ABACK         0         0            0
4         ABACUS         0         0            0
...          ...       ...       ...          ...
86526     ZYGOTE         0         0            0
86527    ZYGOTES         0         0            0
86528    ZYGOTIC         0         0            0
86529  ZYMURGIES         0         0            0
86530    ZYMURGY         0         0            0

[86531 rows x 4 columns]

In [5]:
lm_pos = lm.sort_values(by='Positive', ascending=False)
lm_pos = lm_pos[lm_pos['Positive'] != 0]
print(lm_pos['Word'])
lm_pos

with open('lm_pos_words.txt', 'w') as f:
    f.write(lm_pos['Word'].to_string(index=False))
    
# lm_pos = lm_pos['Positive']
# lm_pos = lm_pos[lm_pos.sum(axis=1) != 0]
# lm_pos.values

6504               BEST
38611    INNOVATIVENESS
7904          BOLSTERED
37266          IMPROVES
338            ABUNDANT
              ...
64746           REWARDS
6375         BENEFICIAL
32586             GREAT
6381            BENEFIT
23821         EFFECTIVE
Name: Word, Length: 354, dtype: object

In [6]:
lm_neg = lm.sort_values(by='Negative', ascending=False)
lm_neg = lm_neg[lm_neg['Negative'] != 0]
print(lm_neg['Word'])
lm_neg

with open('lm_neg_words.txt', 'w') as f:
    f.write(lm_neg['Word'].to_string(index=False))

82117        UNTRUSTED
71527         SPAMMING
17909       CYBERCRIME
17910      CYBERCRIMES
17911    CYBERCRIMINAL
             ...
8622          BREAKING
8935            BROKEN
17149         CRITICAL
13224          CLOSING
30332         FUGITIVE
Name: Word, Length: 2355, dtype: object