In [5]:
import pandas as pd

In [11]:
data_folder = "/Users/apple/PROJECT/Code_4_SECfilings/test.filings"
save_folder = "/Users/apple/PROJECT/Hons-project/data/SP500"
firms_csv_file_path = "/Users/apple/PROJECT/Code_4_SECfilings/QQQ_constituents.csv"
firms_df = pd.read_csv(firms_csv_file_path)
# firms_df = firms_df.drop(['Security', 'GICS Sector', 'GICS Sub-Industry', 'Headquarters Location', 'Date added', 'Founded'], axis=1)
firms_df['CIK'] = firms_df['CIK'].apply(lambda x: str(x).zfill(10))
firms_dict = firms_df.set_index('Symbol')['CIK'].to_dict()
firms_dict = {value: key for key, value in firms_dict.items()}

In [13]:
import os
files_path = "/Users/apple/PROJECT/hons_project/data/SP500"
folder = 'company_df'
folder_path = os.path.join(files_path, folder)
cik_folder = os.path.join(folder_path, "0000002488")
for file_name in os.listdir(cik_folder):
    print(file_name)

part-00001-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv
part-00000-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv
.part-00002-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv.crc
._SUCCESS.crc
part-00003-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv
.part-00003-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv.crc
.part-00001-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv.crc
.part-00000-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv.crc
part-00002-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv
_SUCCESS

In [14]:
print(cik_folder)

/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002488

In [17]:
file_name = "part-00001-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv"
file_loc = cik_folder

In [ ]:
df = pd.read_csv(f'{file_loc}/{file_name}', header = 0)

In [ ]:
file_path = f'{file_loc}/{file_name}'
file_path

'/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002488/part-00001-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv'

In [57]:
# file_path = '/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002488/part-00001-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv'
file_path = '/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002488/part-00001-615b5f08-bfdd-4866-a313-d027a41f208b-c000.csv'
with open(file_path, 'r', encoding='utf-8') as file:
    for i, line in enumerate(file):
        print(line.strip())  # Print each line without extra whitespace
        if i == 9:  # Stop after 10 lines
            break

Name,CIK,Date,Body
AMD,0000002488,2014-05-01,"10-Q 1 d714367d10q.htm FORM 10-Q Form 10-Q Table of Contents [heading]UNITED STATES [/heading] [heading]SECURITIES AND EXCHANGE COMMISSION [/heading] [heading]Washington, D.C. 20549[/heading] [heading]Form 10-Q [/heading] (Mark One)   x   [heading]QUARTERLY REPORT PURSUANT TO SECTION 13 OR 15 (d) OF THE SECURITIES EXCHANGE ACT OF 1934 [/heading] [heading]For the quarterly period ended March 29, 2014 [/heading] [heading]OR [/heading]  Â¨   [heading]TRANSITION REPORT PURSUANT TO SECTION 13 OR 15 (d) OF THE SECURITIES EXCHANGE ACT OF 1934 [/heading] [heading]For the transition period from              to
[/heading] [heading]Commission File Number 001-07882
[/heading] [heading]ADVANCED MICRO DEVICES, INC. [/heading] [heading](Exact name of registrant as specified in its charter) [/heading] [heading]Delaware[/heading] [heading]94-1692300[/heading] [heading](State or other jurisdiction of[/heading] [heading]incorporation or organization)[/heading] [heading](I.R.S. Employer[/heading] [heading]Identification No.)[/heading] [heading]One AMD Place[/heading] [heading]Sunnyvale, California[/heading] [heading]94088[/heading] [heading](Address of principal executive offices)[/heading] [heading](Zip Code)[/heading] [heading]Registrantâs telephone number, including area code: (408) 749-4000 [/heading] Indicate by check mark whether the registrant: (1) has filed all reports required to be filed by Section 13 or 15(d) of the
Securities Exchange Act of 1934 during the preceding 12 months (or for such shorter period that the registrant was required to file such reports), and (2) has been subject to such filing requirements for the past 90
days.    Yes x No Â¨ Indicate by check mark whether the registrant has submitted electronically and posted on its corporate Web site, if any, every
Interactive Data File required to be submitted and posted pursuant to Rule 405 of Regulation S-T (Â§232.405 of this chapter) during the preceding 12 months (or for such shorter period that the registrant was required to submit and post such
files).    Yes x No Â¨ Indicate by check mark whether the registrant is a large accelerated filer, an accelerated filer, a non-accelerated filer or a smaller
reporting company. See definition of âlarge accelerated filer,â âaccelerated filerâ and âsmaller reporting companyâ in Rule 12b-2 of the Exchange Act. Large accelerated filer x Accelerated filer Â¨ Non-accelerated filer Â¨ (Do not check if a smaller reporting company) Smaller reporting company Â¨ Indicate by check mark whether the registrant is a shell company (as defined by Rule 12b-2 of the
Exchange Act).    Yes Â¨ No x Indicate the number of shares outstanding of the registrantâs common stock,

In [58]:
file_path2 = "/Users/apple/PROJECT/Code_4_SECfilings/fillings/company_df/0000002488.csv"

In [59]:

with open(file_path2, 'r', encoding='utf-8') as file:
    for i, line in enumerate(file):
        print(line.strip())  # Print each line without extra whitespace
        if i == 9:  # Stop after 10 lines
            break

Name,CIK,Date,Body
AMD,0000002488,2006-02-27,"10-K 1 d10k.htm FOR THE FISCAL YEAR ENDED DECEMBER 25, 2005 For the fiscal year ended December 25, 2005 Table of Contents [heading]UNITED STATES [/heading] [heading]SECURITIES AND EXCHANGE COMMISSION [/heading] [heading]Washington, D.C. 20549 [/heading] [heading]FORM 10-K [/heading] [heading](Mark One) [/heading] [heading]x[/heading] [heading]ANNUAL REPORT PURSUANT TO SECTION 13 OR 15(d) OF THE SECURITIES EXCHANGE ACT OF 1934. [/heading] [heading]For the fiscal year ended December 25, 2005 [/heading] [heading]OR [/heading]    [heading]TRANSITION REPORT PURSUANT TO SECTION 13 OR 15(d) OF THE SECURITIES EXCHANGE ACT OF 1934. [/heading] [heading]For the transition period from ____________ to ____________ [/heading] [heading]Commission File Number 001-07882 [/heading] [heading]ADVANCED MICRO DEVICES, INC. [/heading] [heading](Exact name of registrant as specified in its
charter) [/heading] [heading]Delaware[/heading] [heading]94-1692300[/heading] [heading](State or other jurisdiction of incorporation or organization) [/heading] [heading](I.R.S. Employer Identification No.)[/heading] [heading]One AMD Place, Sunnyvale, California [/heading] [heading]94088[/heading] [heading](Address of principal executive offices) [/heading] [heading](Zip Code)[/heading] [heading](408) 749-4000 [/heading] [heading](Registrant’s telephone number, including area code) [/heading] [heading]Securities registered pursuant to Section 12(b) of the Act: [/heading] [heading](Title of each class)[/heading] [heading](Name of each exchange[/heading] [heading]on which registered)[/heading] Common Stock per share $0.01 par value New York Stock Exchange [heading]Securities registered pursuant to Section 12(g) of the Act: [/heading] [heading]None [/heading] Indicate by check mark if the
registrant is a well-known seasoned issuer, as defined in Rule 405 of the Securities Act.  Yes x No ¨ Indicate by check mark if the registrant is not required to file
reports pursuant to Section 13 or Section 15(d) of the Exchange Act.  Yes ¨ No x Indicate by check mark whether the registrant (1) has filed all reports required to be filed by
Section 13 or 15(d) of the Securities Exchange Act of 1934 during the preceding 12 months (or for such shorter period that the registrant was required to file such reports), and (2) has been subject to such filing requirements for the past
90 days.  Yes x No ¨ Indicate by check mark if disclosure of delinquent filers pursuant to Item 405 of Regulation S-K is not contained herein, and will not be contained,
to the best of registrant’s knowledge, in definitive proxy or information statements incorporated by reference in Part III of this Form 10-K or any amendment to this Form 10-K. x Indicate by check mark whether the registrant is a large accelerated filer, an accelerated filer or a non-accelerated filer. See definition of
“accelerated filer and large accelerated filer” in Rule 12b-2 of the Exchange Act. Large accelerated filer x Accelerated filer ¨ Non-accelerated filer ¨ Indicate by check mark whether the registrant is a shell company (as defined by Rule 12b-2 of the Exchange Act)  Yes ¨ No x As of June 24, 2005, the aggregate market value of the registrant’s common stock held by non-affiliates of the registrant was approximately $6,799,159,288 based on the reported closing sale price of $17.17
per share as reported on the New York Stock Exchange on June 24, 2005, which was the last business day of the registrant’s most recently completed second fiscal quarter. Indicate the number of shares outstanding of each of the registrant’s classes of common stock, as of the latest practicable date. 480,887,662 shares of common stock, $0.01 par value per share, as of February 17, 2006 [heading]DOCUMENTS INCORPORATED BY REFERENCE [/heading] Portions of the Proxy Statement for the Annual Meeting of Stockholders to be held on May 5, 2006, are incorporated into Part II and III hereof. AMD, the AMD Arrow logo, AMD Athlon, AMD Opteron, AMD Sempron, AMD Turion, AMD PowerNow!, Alchemy, Geode and combinations thereof are trademarks of AMD.

In [19]:
file_path = "/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002488/part-00001-1a8ed21f-a41c-4677-b7f4-927372d73d59-c000.csv"

df = pd.read_csv(file_path, usecols=[0,1,2,3] ,delimiter=',', encoding='utf-8', header=0)

In [47]:
df

                                     Name,CIK,Date,Body
0     AMD,0000002488,2014-05-01,"10-Q 1 d714367d10q....
1                  [/heading] [heading]Commission Fi...
2     [/heading] [heading]ADVANCED MICRO DEVICES, IN...
3     Securities Exchange Act of 1934 during the pre...
4     days.    Yes x No Â¨ Indicate by check mark wh...
...                                                 ...
3032  AMD,0000002488,2015-11-03,"10-Q 1 amd092620151...
3033  AMD,0000002488,2016-04-28,"10-Q 1 amd032620161...
3034  AMD,0000002488,2016-07-26,"10-Q 1 amd062520161...
3035  AMD,0000002488,2016-10-26,"10-Q 1 amd092420161...
3036  AMD,0000002488,2017-05-08,"10-Q 1 amd040120171...

[3037 rows x 1 columns]

In [63]:
file_path4 = "/Users/apple/PROJECT/Code_4_SECfilings/fillings/company_df/0000002488.csv"
df2 = pd.read_csv(file_path2, delimiter = ',', header = 0)

In [64]:
df2

   Name   CIK        Date                                               Body
0   AMD  2488  2006-02-27  10-K 1 d10k.htm FOR THE FISCAL YEAR ENDED DECE...
1   AMD  2488  2007-03-01  10-K 1 d10k.htm FORM 10-K Form 10-K Table of C...
2   AMD  2488  2008-02-26  10-K 1 d10k.htm FORM 10-K Form 10-K Table of C...
3   AMD  2488  2009-02-24  10-K 1 d10k.htm FORM 10-K Form 10-K Table of C...
4   AMD  2488  2010-02-19  10-K 1 d10k.htm FORM 10-K Form 10-K Table of C...
5   AMD  2488  2011-02-18  10-K 1 d10k.htm ANNUAL REPORT ON FORM 10-K Ann...
6   AMD  2488  2012-02-24  10-K 1 d257108d10k.htm FORM 10-K Form 10-K Tab...
7   AMD  2488  2013-02-21  10-K 1 d486815d10k.htm FORM 10-K Form 10-K Tab...
8   AMD  2488  2014-02-18  10-K 1 d674550d10k.htm 10-K 10-K Table of Cont...
9   AMD  2488  2015-02-19  10-K 1 d871455d10k.htm 10-K 10-K Table of Cont...
10  AMD  2488  2016-02-18  10-K 1 amd-12262015x10k.htm 10-K 10-K [heading...
11  AMD  2488  2017-02-21  10-K 1 amd-12312016x10k.htm 10-K Document [hea...
12  AMD  2488  2018-02-27  10-K 1 amd-12302017x10k.htm 10-K Document [hea...
13  AMD  2488  2019-02-08  10-K 1 amd-12292018x10k.htm 10-K Document [hea...
14  AMD  2488  2020-02-04  10-K 1 amdform10-kfy2019.htm 10-K Document P6Y...
15  AMD  2488  2021-01-29  10-K 1 amd-20201226.htm 10-K amd-20201226 fals...
16  AMD  2488  2022-02-03  10-K 1 amd-20211225.htm 10-K amd-20211225 10-K...
17  AMD  2488  2023-02-27  10-K 1 amd-20221231.htm 10-K amd-20221231 10-K...

In [16]:
import pandas as pd


file_path1 = "/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002969/part-00000-c2599222-c893-4608-ba6a-3da9db57c1d9-c000.csv"
file_path2 = "/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002969/part-00001-c2599222-c893-4608-ba6a-3da9db57c1d9-c000.csv"

In [21]:
fp = "/Users/apple/PROJECT/scaleUp/0000002488_test.csv"

In [22]:
df = pd.read_csv(fp, encoding='utf-8', header=0)

In [24]:
df.head()

,face,exhibit,location,review,arrange,wired,instruction,port,worsening,reference,...,locality,neutral,doubt,principally,summarize,_vol,_ret,_vol+1,_ret+1,_cik
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.000395,0.013504,0.000240,0.006079,2488
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.000335,0.001842,0.000288,-0.015406,2488
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.000159,-0.002749,0.000518,-0.036105,2488
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.000733,-0.033553,0.000490,0.024046,2488
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.001709,-0.018847,0.004962,-0.093778,2488

In [12]:
import yfinance as yf
stock = ['AAPL']
start_date = '2020-01-01'
end_date = '2020-12-31'
time_series = yf.download(stock, 
                            start = start_date,
                            end = end_date,
                            progress = False)

In [13]:
time_series.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  74.059998  75.150002  73.797501  75.087502  72.796005  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  72.088295  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  72.662712  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  72.320969  108872000
2020-01-08  74.290001  76.110001  74.290001  75.797501  73.484360  132079200

In [31]:
time_series.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2020-01-02 to 2020-12-30
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Adj Close, AAPL)   252 non-null    float64
 1   (Adj Close, AMZN)   252 non-null    float64
 2   (Adj Close, GOOGL)  252 non-null    float64
 3   (Adj Close, MSFT)   252 non-null    float64
 4   (Close, AAPL)       252 non-null    float64
 5   (Close, AMZN)       252 non-null    float64
 6   (Close, GOOGL)      252 non-null    float64
 7   (Close, MSFT)       252 non-null    float64
 8   (High, AAPL)        252 non-null    float64
 9   (High, AMZN)        252 non-null    float64
 10  (High, GOOGL)       252 non-null    float64
 11  (High, MSFT)        252 non-null    float64
 12  (Low, AAPL)         252 non-null    float64
 13  (Low, AMZN)         252 non-null    float64
 14  (Low, GOOGL)        252 non-null    float64
 15  (Low, MSFT)         252 non-null    float64
 16  (Open, AAPL)        252 non-null    float64
 17  (Open, AMZN)        252 non-null    float64
 18  (Open, GOOGL)       252 non-null    float64
 19  (Open, MSFT)        252 non-null    float64
 20  (Volume, AAPL)      252 non-null    int64
 21  (Volume, AMZN)      252 non-null    int64
 22  (Volume, GOOGL)     252 non-null    int64
 23  (Volume, MSFT)      252 non-null    int64
dtypes: float64(20), int64(4)
memory usage: 49.2 KB

In [32]:
!pip install pyarrow

python(648) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.

Collecting pyarrow
  Downloading pyarrow-17.0.0-cp38-cp38-macosx_10_15_x86_64.whl.metadata (3.3 kB)
Requirement already satisfied: numpy>=1.16.6 in /Users/apple/miniconda3/envs/hons-project/lib/python3.8/site-packages (from pyarrow) (1.24.4)
Downloading pyarrow-17.0.0-cp38-cp38-macosx_10_15_x86_64.whl (29.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 29.0/29.0 MB 9.7 MB/s eta 0:00:00:00:0100:01
Installing collected packages: pyarrow
Successfully installed pyarrow-17.0.0

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [5]:
import pandas as pd

# Read a Parquet file
df = pd.read_parquet("/Users/apple/PROJECT/data/stock_price_daily.parquet")

symbol_data = df[df["symbol"] == "AAPL"]
# Display the data
print(symbol_data.head(100))

      symbol       date     volume     close      open      high       low
64086   AAPL 1980-12-12  469033600  0.098834  0.098834  0.099264  0.098834
64087   AAPL 1980-12-15  175884800  0.093678  0.094108  0.094108  0.093678
64088   AAPL 1980-12-16  105728000  0.086802  0.087232  0.087232  0.086802
64089   AAPL 1980-12-17   86441600  0.088951  0.088951  0.089381  0.088951
64090   AAPL 1980-12-18   73449600  0.091530  0.091530  0.091959  0.091530
...      ...        ...        ...       ...       ...       ...       ...
64181   AAPL 1981-04-30   12611200  0.097545  0.097545  0.098405  0.097545
64182   AAPL 1981-05-01   16553600  0.097545  0.097545  0.098405  0.097545
64183   AAPL 1981-05-04   14448000  0.097116  0.097545  0.097545  0.097116
64184   AAPL 1981-05-05   17539200  0.096686  0.097116  0.097116  0.096686
64185   AAPL 1981-05-06   18950400  0.094108  0.094538  0.094538  0.094108

[100 rows x 7 columns]

In [59]:
import os
def count_txt_files(folder_path):
    # List all files in the folder
    files = os.listdir(folder_path)
    counts = 0
    for file in files:
        fs_path = os.path.join(folder_path, file)
        if ".DS_Store" in fs_path:
            continue
        fs = os.listdir(fs_path)
        counts += len(fs)
        
    return counts

In [61]:
# Original Sources Example usage
afolder_path = "/Users/apple/PROJECT/Code_4_SECfilings/10q-html"  # Replace with the actual path
count = count_txt_files(afolder_path)
print(f"Number of 10q.html files in '{afolder_path}': {count}")

afolder_path = "/Users/apple/PROJECT/Code_4_SECfilings/10q-txt"  # Replace with the actual path
count = count_txt_files(afolder_path)
print(f"Number of 10q.txt files in '{afolder_path}': {count}")

afolder_path = "/Users/apple/PROJECT/Code_4_SECfilings/10k-html"  # Replace with the actual path
count = count_txt_files(afolder_path)
print(f"Number of 10k.html files in '{afolder_path}': {count}")

afolder_path = "/Users/apple/PROJECT/Code_4_SECfilings/10k-txt"  # Replace with the actual path
count = count_txt_files(afolder_path)
print(f"Number of 10k.txt files in '{afolder_path}': {count}")

Number of 10q.html files in '/Users/apple/PROJECT/Code_4_SECfilings/10q-html': 1955
Number of 10q.txt files in '/Users/apple/PROJECT/Code_4_SECfilings/10q-txt': 1387
Number of 10k.html files in '/Users/apple/PROJECT/Code_4_SECfilings/10k-html': 838
Number of 10k.txt files in '/Users/apple/PROJECT/Code_4_SECfilings/10k-txt': 838

In [6]:
# For time_series
time_series.info()

# For symbol_data
symbol_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2020-01-02 to 2020-12-30
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Adj Close, AAPL)   252 non-null    float64
 1   (Adj Close, AMZN)   252 non-null    float64
 2   (Adj Close, GOOGL)  252 non-null    float64
 3   (Adj Close, MSFT)   252 non-null    float64
 4   (Close, AAPL)       252 non-null    float64
 5   (Close, AMZN)       252 non-null    float64
 6   (Close, GOOGL)      252 non-null    float64
 7   (Close, MSFT)       252 non-null    float64
 8   (High, AAPL)        252 non-null    float64
 9   (High, AMZN)        252 non-null    float64
 10  (High, GOOGL)       252 non-null    float64
 11  (High, MSFT)        252 non-null    float64
 12  (Low, AAPL)         252 non-null    float64
 13  (Low, AMZN)         252 non-null    float64
 14  (Low, GOOGL)        252 non-null    float64
 15  (Low, MSFT)         252 non-null    float64
 16  (Open, AAPL)        252 non-null    float64
 17  (Open, AMZN)        252 non-null    float64
 18  (Open, GOOGL)       252 non-null    float64
 19  (Open, MSFT)        252 non-null    float64
 20  (Volume, AAPL)      252 non-null    int64
 21  (Volume, AMZN)      252 non-null    int64
 22  (Volume, GOOGL)     252 non-null    int64
 23  (Volume, MSFT)      252 non-null    int64
dtypes: float64(20), int64(4)
memory usage: 49.2 KB
<class 'pandas.core.frame.DataFrame'>
Index: 11107 entries, 64086 to 75192
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   symbol  11107 non-null  object
 1   date    11107 non-null  datetime64[ns]
 2   volume  11107 non-null  int64
 3   close   11107 non-null  float64
 4   open    11107 non-null  float64
 5   high    11107 non-null  float64
 6   low     11107 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 694.2+ KB

In [40]:
def transform_parquet_to_yf_format(parquet_path):
    # Read the Parquet file
    df = pd.read_parquet(parquet_path)
    df.rename(columns={'date': 'Date'}, inplace=True)
    # Ensure the 'date' column is a datetime type
    df['Date'] = pd.to_datetime(df['Date'])
    # df.rename(columns={'date': 'Date'}, inplace=True)
    # Set the 'date' column as the index
    df.set_index('Date', inplace=True)

    
    # Rename columns to match yfinance format
    df.rename(columns={
        'symbol': 'Symbol',
        'open': 'Open',
        'high': 'High',
        'low': 'Low',
        'close': 'Close',
        'volume': 'Volume'
    }, inplace=True)
    
    # Add 'Adj Close' column if it doesn't exist
    if 'Adj Close' not in df.columns:
        df['Adj Close'] = df['Close']
    
    return df

In [41]:
# Example usageA
parquet_path = "/Users/apple/PROJECT/data/stock_price_daily.parquet"
transformed_df = transform_parquet_to_yf_format(parquet_path)

print(transformed_df.head())

           Symbol    Volume      Close       Open       High        Low  \
Date
1999-11-18      A  62546380  26.511734  27.415542  30.126972  24.101576
1999-11-19      A  15234146  24.327536  25.871541  25.909201  23.988607
1999-11-22      A   6577870  26.511734  24.892409  26.511734  24.139234
1999-11-23      A   5975611  24.101587  25.607937  26.285794  24.101587
1999-11-24      A   4843231  24.741777  24.176897  25.269000  24.101578

            Adj Close
Date
1999-11-18  26.511734
1999-11-19  24.327536
1999-11-22  26.511734
1999-11-23  24.101587
1999-11-24  24.741777

In [27]:
time_series = transformed_df[transformed_df['symbol'] == 'AAPL']

In [17]:
time_series.head()

,symbol,Volume,Close,Open,High,Low,Adj Close
date,,,,,,,
1980-12-12,AAPL,469033600,0.098834,0.098834,0.099264,0.098834,0.098834
1980-12-15,AAPL,175884800,0.093678,0.094108,0.094108,0.093678,0.093678
1980-12-16,AAPL,105728000,0.086802,0.087232,0.087232,0.086802,0.086802
1980-12-17,AAPL,86441600,0.088951,0.088951,0.089381,0.088951,0.088951
1980-12-18,AAPL,73449600,0.091530,0.091530,0.091959,0.091530,0.091530

In [14]:
time_series.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2020-01-02 to 2020-12-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       252 non-null    float64
 1   High       252 non-null    float64
 2   Low        252 non-null    float64
 3   Close      252 non-null    float64
 4   Adj Close  252 non-null    float64
 5   Volume     252 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.8 KB

In [28]:
time_series = time_series.loc[start_date:end_date]

In [29]:
time_series

,symbol,Volume,Close,Open,High,Low,Adj Close
date,,,,,,,
2020-01-02,AAPL,135480400,72.796028,71.799881,72.856621,71.545395,72.796028
2020-01-03,AAPL,146322800,72.088303,72.020439,72.851769,71.862900,72.088303
2020-01-06,AAPL,118387200,72.662712,71.206070,72.701492,70.954002,72.662712
2020-01-07,AAPL,108872000,72.320976,72.672409,72.929322,72.100418,72.320976
2020-01-08,AAPL,132079200,73.484360,72.022865,73.787323,72.022865,73.484360
...,...,...,...,...,...,...,...
2020-12-24,AAPL,54930100,129.047531,128.411931,130.504541,128.196802,129.047531
2020-12-28,AAPL,124486200,133.663010,131.022804,134.298609,130.553423,133.663010
2020-12-29,AAPL,121047300,131.883286,134.992872,135.716475,131.365024,131.883286
2020-12-30,AAPL,96452100,130.758759,132.577569,132.978493,130.445838,130.758759
2020-12-31,AAPL,99116600,129.751587,131.110805,131.756193,128.803066,129.751587

In [14]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
import pandas as pd

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Integrated Data") \
    .getOrCreate()

/Users/apple/miniconda3/envs/hons-project/lib/python3.8/site-packages/pyspark/bin/spark-class: line 71: /Users/apple/java8/bin/java: cannot execute binary file
/Users/apple/miniconda3/envs/hons-project/lib/python3.8/site-packages/pyspark/bin/spark-class: line 97: CMD: bad array subscript
head: illegal line count -- -1

PySparkRuntimeError: [JAVA_GATEWAY_EXITED] Java gateway process exited before sending its port number.

In [4]:
# Step 3: Normalize Records for CIK 0000002488
normalized_records = [
    {
        'Date': '2020-04-29',
        '_cik': '0000002488',
        '_vol': 0.0005601878357971315,
        '_ret': 0.016083144398197774,
        '_vol+1': 0.0006520683973402329,
        '_ret+1': 0.01965666991139898,
        'face': 7.0,
        'exhibit': 2.0,
        'location': 2.0,
        'review': 3.0,
        'arrange': 1.0,
        'wired': 1.0,
        'instruction': 3.0
    }
]

# Create Spark DataFrame from normalized records
normalized_df = spark.createDataFrame(normalized_records)

# Show the normalized DataFrame
normalized_df.show()

NameError: name 'spark' is not defined

In [5]:
!java -version

openjdk version "1.8.0_292"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_292-b10)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.292-b10, mixed mode)

In [9]:
!echo 'export PATH="/usr/local/opt/openjdk@8/bin:$PATH"' >> ~/.zshrc
!source ~/.zshrc

/Users/apple/.zshrc:source:2: no such file or directory: /path/to/google-cloud-sdk/path.zsh.inc

In [10]:
!export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)

In [12]:
!echo 'export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)' >> ~/.zshrc
!source ~/.zshrc

/Users/apple/.zshrc:source:2: no such file or directory: /path/to/google-cloud-sdk/path.zsh.inc

In [13]:
!echo $JAVA_HOME

/Users/apple/java8

In [150]:
import pandas as pd

file_path = "/Users/apple/PROJECT/hons_project/data/SP500/processed/dtm_0000002969.parquet"
# Read a Parquet file
df = pd.read_parquet(file_path)

# symbol_data = df[df["symbol"] == "AAPL"]
# Display the data

print(df)
print(df.shape)

In [152]:
df.head()

,Date,_cik,_vol,_ret,_vol+1,_ret+1,table,content,united,state,...,judicial,schedule,draw,bear,unused,unilateral,commensurate,transferable,waiver,growing
0,2014-01-29,0000002969,0.000158,0.004424,0.000017,0.005555,13.0,1.0,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015-01-30,0000002969,0.000267,0.000275,0.000677,-0.022668,14.0,2.0,6.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2016-01-29,0000002969,0.000702,-0.035506,0.000972,-0.045353,15.0,1.0,6.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2011-07-27,0000002969,0.000084,0.009633,0.000129,0.009832,14.0,1.0,3.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2012-01-27,0000002969,0.000040,-0.001248,0.000058,-0.010127,12.0,1.0,4.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
file_path2 = "/Users/apple/PROJECT/hons_project/data/SP500/dtm_test_all.parquet/part-00000-3a5dcb70-e65d-4e3b-a88b-3711a9cec068-c000.snappy.parquet"
# Read a Parquet file
combined_df = pd.read_parquet(file_path2)

# symbol_data = df[df["symbol"] == "AAPL"]
# Display the data

# print(combined_df)
combined_df.head(10)
# combined_df.columns.tolist()[:20]

,Date,_cik,_vol,_ret,_vol+1,_ret+1,united,state,security,exchange,...,factory,backed,speculative,advise,silver,bullet,annex,reg,hereto,prospectus
0,2006-02-24 00:00:00,0000320193,0.000198,0.009471,0.000153,0.013988,5.0,22.0,80.0,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2011-07-26 23:00:00,0000002969,0.000084,0.009633,0.000129,0.009832,3.0,6.0,34.0,58.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2011-08-08 23:00:00,0000004127,0.002559,-0.041269,0.001868,-0.006927,21.0,24.0,42.0,26.0,...,2.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0
3,2012-01-27 00:00:00,0000002969,0.000040,-0.001248,0.000058,-0.010127,4.0,5.0,32.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2012-04-26 23:00:00,0000002969,0.000035,0.004897,0.000032,0.002920,5.0,5.0,34.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2012-05-08 23:00:00,0000002488,0.000444,0.005814,0.001112,-0.029942,11.0,13.0,73.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2012-07-26 23:00:00,0000002969,0.000137,-0.005924,0.000074,-0.001476,5.0,5.0,27.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2013-01-25 00:00:00,0000002969,0.000029,0.001583,0.000026,0.003629,4.0,5.0,27.0,51.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2013-04-24 23:00:00,0000002969,0.000090,-0.004545,0.000019,0.004779,5.0,5.0,23.0,51.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2013-07-23 23:00:00,0000002969,0.000033,-0.001194,0.001493,-0.048687,5.0,5.0,23.0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [144]:

for cik in firms_ciks:
    print(cik)
    y = combined_df[combined_df['_cik'] == int(cik.lstrip('0'))]

In [148]:
cik = '0000320193'
combined_df[combined_df['_cik'] == int(cik.lstrip('0'))]

Empty DataFrame
Columns: [Date, _cik, _vol, _ret, _vol+1, _ret+1, form, table, content, heading, united, state, security, exchange, commission, mark, one, x, quarterly, report, pursuant, section, act, period, ended, march, transition, file, number, advanced, micro, device, exact, name, registrant, charter, jurisdiction, incorporation, organization, employer, identification, place, address, principal, executive, office, zip, code, telephone, area, indicate, check, whether, preceding, month, shorter, subject, filing, requirement, past, day, yes, posted, corporate, web, site, every, interactive, data, rule, regulation, chapter, submit, post, large, accelerated, filer, smaller, company, see, definition, shell, defined, share, outstanding, common, stock, par, value, may, index, page, part, financial, information, item, statement, unaudited, condensed, consolidated, ...]
Index: []

[0 rows x 3269 columns]

In [146]:
cik = '0000002488'
combined_df[combined_df['_cik'] == int(cik.lstrip('0'))]

Empty DataFrame
Columns: [Date, _cik, _vol, _ret, _vol+1, _ret+1, form, table, content, heading, united, state, security, exchange, commission, mark, one, x, quarterly, report, pursuant, section, act, period, ended, march, transition, file, number, advanced, micro, device, exact, name, registrant, charter, jurisdiction, incorporation, organization, employer, identification, place, address, principal, executive, office, zip, code, telephone, area, indicate, check, whether, preceding, month, shorter, subject, filing, requirement, past, day, yes, posted, corporate, web, site, every, interactive, data, rule, regulation, chapter, submit, post, large, accelerated, filer, smaller, company, see, definition, shell, defined, share, outstanding, common, stock, par, value, may, index, page, part, financial, information, item, statement, unaudited, condensed, consolidated, ...]
Index: []

[0 rows x 3269 columns]

NameError: name 'pd' is not defined

In [1]:
import pandas as pd
import pyarrow.parquet as pq
import pyarrow as pa
import sys
import os
# Add the parent directory of hons_project to the Python path
sys.path.append(os.path.abspath(os.path.join(os.path.dirname(os.getcwd()))))
from hons_project.vol_reader_fun import vol_reader2
from copy import deepcopy

In [2]:
firms_csv_file_path = "/Users/apple/PROJECT/Code_4_SECfilings/test_constituents.csv"
firms_df = pd.read_csv(firms_csv_file_path)
firms_df['CIK'] = firms_df['CIK'].apply(lambda x: str(x).zfill(10))
firms_dict = firms_df.set_index('Symbol')['CIK'].to_dict()
firms_dict = {value: key for key, value in firms_dict.items()}

firms_ciks = list(firms_dict.keys())
firms_ciks

start_date = '2006-01-01'
end_date = '2023-12-31'

In [3]:
save_path = "/Users/apple/PROJECT/hons_project/data/SP500"

In [4]:
existing_files_path = os.path.join(save_path, 'processed')
existing_files = os.listdir(existing_files_path)
existing_files = [f for f in existing_files if f != '.DS_Store']
existing_files = [os.path.join(existing_files_path, f) for f in existing_files]

In [5]:
existing_files

['/Users/apple/PROJECT/hons_project/data/SP500/processed/dtm_0000002488.parquet',
 '/Users/apple/PROJECT/hons_project/data/SP500/processed/dtm_0000002969.parquet',
 '/Users/apple/PROJECT/hons_project/data/SP500/processed/dtm_0000320193.parquet',
 '/Users/apple/PROJECT/hons_project/data/SP500/processed/dtm_0000004127.parquet']

In [6]:
def combine_parquet_in_batches(file_paths, batch_size=50):
    # Process files in batches
    tables = []

    # Redirect standard output to suppress pyarrow.Table output
    original_stdout = sys.stdout
    sys.stdout = open(os.devnull, 'w')

    try:
        for i, file_path in enumerate(file_paths):
            table = pq.read_table(file_path)
            tables.append(table)

            # When the batch is full, write to disk
            if (i + 1) % batch_size == 0 or (i + 1) == len(file_paths):
                combined_table = pa.concat_tables(tables, promote_options='default')
                # Convert to Pandas DataFrame
                df = combined_table.to_pandas()
                columns_to_drop = ['form','table','content','heading']
                df = df.drop(columns=columns_to_drop)
                # Perform operations using Pandas
                df = df.drop_duplicates(subset=["Date", "_cik", "_vol", "_ret"]).fillna(0.0)
                
                # Convert back to pyarrow.Table
                combined_table = pa.Table.from_pandas(df)
                tables = []  # Clear the batch
    finally:
        # Restore standard output
        sys.stdout.close()
        sys.stdout = original_stdout

    return combined_table

In [7]:
dataframes = combine_parquet_in_batches(existing_files, batch_size=50)
combined_df = dataframes.to_pandas()

In [8]:
type(combined_df)

pandas.core.frame.DataFrame

In [9]:
print('hi1')

hi1

In [10]:
combined_df['_cik'].head()

0    0000002488
1    0000002488
2    0000002488
3    0000002488
4    0000002969
Name: _cik, dtype: object

In [11]:
combined_df.head(10)

,Date,_cik,_vol,_ret,_vol+1,_ret+1,united,state,security,exchange,...,factory,backed,speculative,advise,silver,bullet,annex,reg,hereto,prospectus
0,2012-05-09,0000002488,0.000444,0.005814,0.001112,-0.029942,11.0,13.0,73.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2013-08-01,0000002488,0.000200,0.000000,0.000122,0.000000,11.0,14.0,73.0,16.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2014-05-01,0000002488,0.000407,-0.016807,0.000209,0.012063,12.0,18.0,46.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015-04-29,0000002488,0.000245,0.008734,0.000173,0.008811,14.0,22.0,45.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2014-01-29,0000002969,0.000158,0.004424,0.000017,0.005555,5.0,5.0,23.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2015-01-30,0000002969,0.000267,0.000275,0.000677,-0.022668,6.0,4.0,18.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2016-01-29,0000002969,0.000702,-0.035506,0.000972,-0.045353,6.0,5.0,19.0,51.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2011-07-27,0000002969,0.000084,0.009633,0.000129,0.009832,3.0,6.0,34.0,58.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2012-01-27,0000002969,0.000040,-0.001248,0.000058,-0.010127,4.0,5.0,32.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2012-04-27,0000002969,0.000035,0.004897,0.000032,0.002920,5.0,5.0,34.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# Generate 3-day rolling returns and volatilities for the provided firms' CIKs
x1, x2 = vol_reader2(firms_ciks, start_date, end_date, window=3, extra_end=True, extra_start=True)

# Shift the data by one time step to align with the desired time window
x1 = x1.shift(1)
x2 = x2.shift(1)

# Slice the data to only include values within the start_date and end_date range
x1 = x1[start_date:end_date]
x2 = x2[start_date:end_date]

# Initialize a flag to indicate the first iteration for appending data
first = True

# Loop through each firm CIK to align and merge 3-day rolling return/volatility with the main DataFrame
for cik in firms_ciks:
    print(f'Aligning with 3-day return/volatility {cik}')
    
    # Extract the 3-day rolling return and volatility data for the current CIK
    x1c = x1[cik]
    x2c = x2[cik]
    
    # Concatenate the return and volatility data into a single DataFrame
    x = pd.concat([x1c, x2c], axis=1)
    x.columns = ['n_ret', 'n_vol']  # Rename columns for clarity
    
    # Filter rows in the combined DataFrame corresponding to the current CIK
    y = combined_df[combined_df['_cik'] == cik]
    
    # Set 'Date' as the index for both the main DataFrame and the return/volatility DataFrame
    y.set_index('Date', inplace=True)
    x.index = pd.to_datetime(x.index)
    y.index = pd.to_datetime(y.index)
    
    # Join the return/volatility data (`x`) with the filtered DataFrame (`y`) on the 'Date' index
    z = y.join(x)
    
    # Extract only the return and volatility columns from the joined data
    zz = z[['n_ret', 'n_vol']]
    
    # On the first iteration, initialize the combined DataFrame; otherwise, append to it
    if first:
        df_add = zz
        first = False
    else:
        df_add = pd.concat([df_add, zz], axis=0)

# Reset the index of the combined DataFrame to include 'Date' as a regular column
df_add.reset_index(inplace=True)

# Ensure that the index of the combined DataFrame matches the original `combined_df`
assert all(combined_df.index == df_add.index), 'Do not merge!'

# Make a copy of the original `combined_df` to prevent modifications to the original
combined_df = combined_df.copy()

# Add new columns for the 3-day rolling return and volatility to the combined DataFrame
combined_df['_ret'] = df_add['n_ret']
combined_df['_vol'] = df_add['n_vol']

Aligning with 3-day return/volatility 0000002488
Aligning with 3-day return/volatility 0000002969
Aligning with 3-day return/volatility 0000004127
Aligning with 3-day return/volatility 0000320193

In [15]:
combined_df

,Date,_cik,_vol,_ret,_vol+1,_ret+1,united,state,security,exchange,...,factory,backed,speculative,advise,silver,bullet,annex,reg,hereto,prospectus
0,2012-05-09,0000002488,0.000333,-0.005562,0.001112,-0.029942,11.0,13.0,73.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2013-08-01,0000002488,0.000122,-0.035571,0.000122,0.000000,11.0,14.0,73.0,16.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2014-05-01,0000002488,0.000064,-0.009701,0.000209,0.012063,12.0,18.0,46.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015-04-29,0000002488,0.000256,0.032318,0.000173,0.008811,14.0,22.0,45.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2014-01-29,0000002969,0.000052,0.009771,0.000017,0.005555,5.0,5.0,23.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2015-01-30,0000002969,0.000169,-0.018087,0.000677,-0.022668,6.0,4.0,18.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2016-01-29,0000002969,0.000203,-0.065049,0.000972,-0.045353,6.0,5.0,19.0,51.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2011-07-27,0000002969,0.000044,0.031608,0.000129,0.009832,3.0,6.0,34.0,58.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2012-01-27,0000002969,0.000040,0.000566,0.000058,-0.010127,4.0,5.0,32.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2012-04-27,0000002969,0.000024,-0.001403,0.000032,0.002920,5.0,5.0,34.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2012-07-27,0000002969,0.000056,-0.015502,0.000074,-0.001476,5.0,5.0,27.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2013-01-25,0000002969,0.000027,-0.003174,0.000026,0.003629,4.0,5.0,27.0,51.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2013-04-25,0000002969,0.000024,-0.002105,0.000019,0.004779,5.0,5.0,23.0,51.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2013-07-24,0000002969,0.000302,-0.058439,0.001493,-0.048687,5.0,5.0,23.0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2014-04-24,0000002969,0.000053,0.021288,0.000101,0.010785,5.0,5.0,23.0,51.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2014-07-24,0000002969,0.000142,-0.042627,0.000034,-0.008426,5.0,5.0,19.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2017-01-27,0000002969,0.000143,0.042935,0.000067,-0.006333,5.0,6.0,19.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2017-04-27,0000002969,0.000069,0.005890,0.000062,0.003552,6.0,6.0,19.0,63.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2017-08-01,0000002969,0.000057,-0.026892,0.000061,0.001552,5.0,6.0,19.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2018-04-26,0000002969,0.000106,-0.004068,0.000164,0.006824,6.0,8.0,16.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2018-07-26,0000002969,0.000068,-0.037600,0.000060,0.002045,5.0,9.0,16.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2019-04-24,0000002969,0.000066,-0.015195,0.000086,-0.000952,4.0,8.0,16.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,2019-07-25,0000002969,0.000119,-0.013010,0.000139,-0.012351,4.0,10.0,17.0,90.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2020-04-23,0000002969,0.000188,-0.014544,0.000203,-0.016183,3.0,5.0,15.0,62.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,2020-07-23,0000002969,0.000112,-0.003746,0.000068,0.001542,3.0,5.0,18.0,101.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,2021-05-10,0000002969,0.000050,0.006826,0.000408,-0.027440,3.0,9.0,16.0,93.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,2021-08-09,0000002969,0.000040,-0.001790,0.000080,-0.011874,3.0,9.0,17.0,80.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,2022-05-05,0000002969,0.000539,0.009832,0.000350,0.000170,2.0,7.0,18.0,83.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,2022-08-04,0000002969,0.000183,-0.068099,0.000246,-0.022798,2.0,8.0,18.0,77.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,2023-02-02,0000002969,0.000172,0.112976,0.000456,0.024160,3.0,6.0,18.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,2023-05-09,0000002969,0.000287,0.058883,0.000216,0.000463,3.0,6.0,19.0,62.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,2023-08-03,0000002969,0.000148,0.053662,0.000235,0.004700,3.0,8.0,18.0,62.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,2006-02-24,0000320193,0.000033,-0.016018,0.000153,0.013988,5.0,22.0,80.0,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,2015-02-04,0000004127,0.000327,-0.005514,0.000235,0.014634,21.0,24.0,24.0,32.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,2011-08-09,0000004127,0.000085,-0.000740,0.001868,-0.006927,21.0,24.0,42.0,26.0,...,2.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0

In [17]:
file_path3 = '/Users/apple/PROJECT/hons_project/data/SP500/dtm_test_all.parquet/part-00000-9c6e1b71-6d82-43ab-995b-94a52a3fa1a2-c000.snappy.parquet'

# Read a Parquet file
df = pd.read_parquet(file_path3)

# symbol_data = df[df["symbol"] == "AAPL"]
# Display the data

df.head(30)

,Date,_cik,_vol,_ret,_vol+1,_ret+1,united,state,security,exchange,...,factory,backed,speculative,advise,silver,bullet,annex,reg,hereto,prospectus
0,2012-05-08 23:00:00,0000002488,0.000046,0.024622,0.001112,-0.029942,11.0,13.0,73.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2013-07-31 23:00:00,0000002488,0.000143,0.016966,0.000122,0.000000,11.0,14.0,73.0,16.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2014-04-30 23:00:00,0000002488,0.000030,-0.012769,0.000209,0.012063,12.0,18.0,46.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015-04-28 23:00:00,0000002488,0.000367,0.050439,0.000173,0.008811,14.0,22.0,45.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2014-01-29 00:00:00,0000002969,0.000077,0.017808,0.000017,0.005555,5.0,5.0,23.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2015-01-30 00:00:00,0000002969,0.000144,-0.007195,0.000677,-0.022668,6.0,4.0,18.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2016-01-29 00:00:00,0000002969,0.000129,-0.037152,0.000972,-0.045353,6.0,5.0,19.0,51.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2011-07-26 23:00:00,0000002969,0.000078,0.020662,0.000129,0.009832,3.0,6.0,34.0,58.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2012-01-27 00:00:00,0000002969,0.000024,0.002412,0.000058,-0.010127,4.0,5.0,32.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2012-04-26 23:00:00,0000002969,0.000045,0.018518,0.000032,0.002920,5.0,5.0,34.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2012-07-26 23:00:00,0000002969,0.000079,-0.009271,0.000074,-0.001476,5.0,5.0,27.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2013-01-25 00:00:00,0000002969,0.000296,0.044724,0.000026,0.003629,4.0,5.0,27.0,51.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2013-04-24 23:00:00,0000002969,0.000237,-0.058383,0.000019,0.004779,5.0,5.0,23.0,51.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2013-07-23 23:00:00,0000002969,0.000057,-0.028920,0.001493,-0.048687,5.0,5.0,23.0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2014-04-23 23:00:00,0000002969,0.000036,-0.077932,0.000101,0.010785,5.0,5.0,23.0,51.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2014-07-23 23:00:00,0000002969,0.000059,-0.023306,0.000034,-0.008426,5.0,5.0,19.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2017-01-27 00:00:00,0000002969,0.000007,-0.002299,0.000067,-0.006333,5.0,6.0,19.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2017-04-26 23:00:00,0000002969,0.000009,0.005693,0.000062,0.003552,6.0,6.0,19.0,63.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2017-07-31 23:00:00,0000002969,0.000051,-0.047169,0.000061,0.001552,5.0,6.0,19.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2018-04-25 23:00:00,0000002969,0.000061,0.001847,0.000164,0.006824,6.0,8.0,16.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2018-07-25 23:00:00,0000002969,0.000058,0.010833,0.000060,0.002045,5.0,9.0,16.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2019-04-23 23:00:00,0000002969,0.000032,-0.004150,0.000086,-0.000952,4.0,8.0,16.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,2019-07-24 23:00:00,0000002969,0.000023,-0.000337,0.000139,-0.012351,4.0,10.0,17.0,90.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2020-04-22 23:00:00,0000002969,0.000087,-0.033638,0.000203,-0.016183,3.0,5.0,15.0,62.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,2020-07-22 23:00:00,0000002969,0.000279,0.043085,0.000068,0.001542,3.0,5.0,18.0,101.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,2021-05-09 23:00:00,0000002969,0.000032,0.004903,0.000408,-0.027440,3.0,9.0,16.0,93.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,2021-08-08 23:00:00,0000002969,0.000018,0.001436,0.000080,-0.011874,3.0,9.0,17.0,80.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,2022-05-04 23:00:00,0000002969,0.000368,0.013613,0.000350,0.000170,2.0,7.0,18.0,83.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,2022-08-03 23:00:00,0000002969,0.000107,-0.029042,0.000246,-0.022798,2.0,8.0,18.0,77.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,2023-02-02 00:00:00,0000002969,0.000328,-0.070589,0.000456,0.024160,3.0,6.0,18.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
import os
# File paths
csv_file_path = '/Users/apple/PROJECT/hons_project/data/df_0000320193.csv'
parquet_file_path = "/Users/apple/PROJECT/hons_project/data/SP500/processed/dtm_0000002488.parquet"

# Get file sizes
csv_file_size = os.path.getsize(csv_file_path)
parquet_file_size = os.path.getsize(parquet_file_path)

print(f"CSV file size: {csv_file_size} bytes")
print(f"Parquet file size: {parquet_file_size} bytes")

CSV file size: 128072 bytes
Parquet file size: 1240289 bytes