In [5]:
import pandas as pd

In [11]:
data_folder = "/Users/apple/PROJECT/Code_4_SECfilings/test.filings"
save_folder = "/Users/apple/PROJECT/Hons-project/data/SP500"
firms_csv_file_path = "/Users/apple/PROJECT/Code_4_SECfilings/QQQ_constituents.csv"
firms_df = pd.read_csv(firms_csv_file_path)
# firms_df = firms_df.drop(['Security', 'GICS Sector', 'GICS Sub-Industry', 'Headquarters Location', 'Date added', 'Founded'], axis=1)
firms_df['CIK'] = firms_df['CIK'].apply(lambda x: str(x).zfill(10))
firms_dict = firms_df.set_index('Symbol')['CIK'].to_dict()
firms_dict = {value: key for key, value in firms_dict.items()}

In [13]:
import os
files_path = "/Users/apple/PROJECT/hons_project/data/SP500"
folder = 'company_df'
folder_path = os.path.join(files_path, folder)
cik_folder = os.path.join(folder_path, "0000002488")
for file_name in os.listdir(cik_folder):
    print(file_name)

part-00001-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv
part-00000-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv
.part-00002-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv.crc
._SUCCESS.crc
part-00003-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv
.part-00003-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv.crc
.part-00001-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv.crc
.part-00000-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv.crc
part-00002-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv
_SUCCESS

In [14]:
print(cik_folder)

/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002488

In [17]:
file_name = "part-00001-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv"
file_loc = cik_folder

In [ ]:
df = pd.read_csv(f'{file_loc}/{file_name}', header = 0)

In [ ]:
file_path = f'{file_loc}/{file_name}'
file_path

'/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002488/part-00001-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv'

In [57]:
# file_path = '/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002488/part-00001-d82a0d43-3477-4301-b199-571ecbc11fb7-c000.csv'
file_path = '/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002488/part-00001-615b5f08-bfdd-4866-a313-d027a41f208b-c000.csv'
with open(file_path, 'r', encoding='utf-8') as file:
    for i, line in enumerate(file):
        print(line.strip())  # Print each line without extra whitespace
        if i == 9:  # Stop after 10 lines
            break

Name,CIK,Date,Body
AMD,0000002488,2014-05-01,"10-Q 1 d714367d10q.htm FORM 10-Q Form 10-Q Table of Contents [heading]UNITED STATES [/heading] [heading]SECURITIES AND EXCHANGE COMMISSION [/heading] [heading]Washington, D.C. 20549[/heading] [heading]Form 10-Q [/heading] (Mark One)   x   [heading]QUARTERLY REPORT PURSUANT TO SECTION 13 OR 15 (d) OF THE SECURITIES EXCHANGE ACT OF 1934 [/heading] [heading]For the quarterly period ended March 29, 2014 [/heading] [heading]OR [/heading]  Â¨   [heading]TRANSITION REPORT PURSUANT TO SECTION 13 OR 15 (d) OF THE SECURITIES EXCHANGE ACT OF 1934 [/heading] [heading]For the transition period from              to
[/heading] [heading]Commission File Number 001-07882
[/heading] [heading]ADVANCED MICRO DEVICES, INC. [/heading] [heading](Exact name of registrant as specified in its charter) [/heading] [heading]Delaware[/heading] [heading]94-1692300[/heading] [heading](State or other jurisdiction of[/heading] [heading]incorporation or organization)[/heading] [heading](I.R.S. Employer[/heading] [heading]Identification No.)[/heading] [heading]One AMD Place[/heading] [heading]Sunnyvale, California[/heading] [heading]94088[/heading] [heading](Address of principal executive offices)[/heading] [heading](Zip Code)[/heading] [heading]Registrantâs telephone number, including area code: (408) 749-4000 [/heading] Indicate by check mark whether the registrant: (1) has filed all reports required to be filed by Section 13 or 15(d) of the
Securities Exchange Act of 1934 during the preceding 12 months (or for such shorter period that the registrant was required to file such reports), and (2) has been subject to such filing requirements for the past 90
days.    Yes x No Â¨ Indicate by check mark whether the registrant has submitted electronically and posted on its corporate Web site, if any, every
Interactive Data File required to be submitted and posted pursuant to Rule 405 of Regulation S-T (Â§232.405 of this chapter) during the preceding 12 months (or for such shorter period that the registrant was required to submit and post such
files).    Yes x No Â¨ Indicate by check mark whether the registrant is a large accelerated filer, an accelerated filer, a non-accelerated filer or a smaller
reporting company. See definition of âlarge accelerated filer,â âaccelerated filerâ and âsmaller reporting companyâ in Rule 12b-2 of the Exchange Act. Large accelerated filer x Accelerated filer Â¨ Non-accelerated filer Â¨ (Do not check if a smaller reporting company) Smaller reporting company Â¨ Indicate by check mark whether the registrant is a shell company (as defined by Rule 12b-2 of the
Exchange Act).    Yes Â¨ No x Indicate the number of shares outstanding of the registrantâs common stock,

In [58]:
file_path2 = "/Users/apple/PROJECT/Code_4_SECfilings/fillings/company_df/0000002488.csv"

In [59]:

with open(file_path2, 'r', encoding='utf-8') as file:
    for i, line in enumerate(file):
        print(line.strip())  # Print each line without extra whitespace
        if i == 9:  # Stop after 10 lines
            break

Name,CIK,Date,Body
AMD,0000002488,2006-02-27,"10-K 1 d10k.htm FOR THE FISCAL YEAR ENDED DECEMBER 25, 2005 For the fiscal year ended December 25, 2005 Table of Contents [heading]UNITED STATES [/heading] [heading]SECURITIES AND EXCHANGE COMMISSION [/heading] [heading]Washington, D.C. 20549 [/heading] [heading]FORM 10-K [/heading] [heading](Mark One) [/heading] [heading]x[/heading] [heading]ANNUAL REPORT PURSUANT TO SECTION 13 OR 15(d) OF THE SECURITIES EXCHANGE ACT OF 1934. [/heading] [heading]For the fiscal year ended December 25, 2005 [/heading] [heading]OR [/heading]    [heading]TRANSITION REPORT PURSUANT TO SECTION 13 OR 15(d) OF THE SECURITIES EXCHANGE ACT OF 1934. [/heading] [heading]For the transition period from ____________ to ____________ [/heading] [heading]Commission File Number 001-07882 [/heading] [heading]ADVANCED MICRO DEVICES, INC. [/heading] [heading](Exact name of registrant as specified in its
charter) [/heading] [heading]Delaware[/heading] [heading]94-1692300[/heading] [heading](State or other jurisdiction of incorporation or organization) [/heading] [heading](I.R.S. Employer Identification No.)[/heading] [heading]One AMD Place, Sunnyvale, California [/heading] [heading]94088[/heading] [heading](Address of principal executive offices) [/heading] [heading](Zip Code)[/heading] [heading](408) 749-4000 [/heading] [heading](Registrant’s telephone number, including area code) [/heading] [heading]Securities registered pursuant to Section 12(b) of the Act: [/heading] [heading](Title of each class)[/heading] [heading](Name of each exchange[/heading] [heading]on which registered)[/heading] Common Stock per share $0.01 par value New York Stock Exchange [heading]Securities registered pursuant to Section 12(g) of the Act: [/heading] [heading]None [/heading] Indicate by check mark if the
registrant is a well-known seasoned issuer, as defined in Rule 405 of the Securities Act.  Yes x No ¨ Indicate by check mark if the registrant is not required to file
reports pursuant to Section 13 or Section 15(d) of the Exchange Act.  Yes ¨ No x Indicate by check mark whether the registrant (1) has filed all reports required to be filed by
Section 13 or 15(d) of the Securities Exchange Act of 1934 during the preceding 12 months (or for such shorter period that the registrant was required to file such reports), and (2) has been subject to such filing requirements for the past
90 days.  Yes x No ¨ Indicate by check mark if disclosure of delinquent filers pursuant to Item 405 of Regulation S-K is not contained herein, and will not be contained,
to the best of registrant’s knowledge, in definitive proxy or information statements incorporated by reference in Part III of this Form 10-K or any amendment to this Form 10-K. x Indicate by check mark whether the registrant is a large accelerated filer, an accelerated filer or a non-accelerated filer. See definition of
“accelerated filer and large accelerated filer” in Rule 12b-2 of the Exchange Act. Large accelerated filer x Accelerated filer ¨ Non-accelerated filer ¨ Indicate by check mark whether the registrant is a shell company (as defined by Rule 12b-2 of the Exchange Act)  Yes ¨ No x As of June 24, 2005, the aggregate market value of the registrant’s common stock held by non-affiliates of the registrant was approximately $6,799,159,288 based on the reported closing sale price of $17.17
per share as reported on the New York Stock Exchange on June 24, 2005, which was the last business day of the registrant’s most recently completed second fiscal quarter. Indicate the number of shares outstanding of each of the registrant’s classes of common stock, as of the latest practicable date. 480,887,662 shares of common stock, $0.01 par value per share, as of February 17, 2006 [heading]DOCUMENTS INCORPORATED BY REFERENCE [/heading] Portions of the Proxy Statement for the Annual Meeting of Stockholders to be held on May 5, 2006, are incorporated into Part II and III hereof. AMD, the AMD Arrow logo, AMD Athlon, AMD Opteron, AMD Sempron, AMD Turion, AMD PowerNow!, Alchemy, Geode and combinations thereof are trademarks of AMD.

In [19]:
file_path = "/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002488/part-00001-1a8ed21f-a41c-4677-b7f4-927372d73d59-c000.csv"

df = pd.read_csv(file_path, usecols=[0,1,2,3] ,delimiter=',', encoding='utf-8', header=0)

In [47]:
df

                                     Name,CIK,Date,Body
0     AMD,0000002488,2014-05-01,"10-Q 1 d714367d10q....
1                  [/heading] [heading]Commission Fi...
2     [/heading] [heading]ADVANCED MICRO DEVICES, IN...
3     Securities Exchange Act of 1934 during the pre...
4     days.    Yes x No Â¨ Indicate by check mark wh...
...                                                 ...
3032  AMD,0000002488,2015-11-03,"10-Q 1 amd092620151...
3033  AMD,0000002488,2016-04-28,"10-Q 1 amd032620161...
3034  AMD,0000002488,2016-07-26,"10-Q 1 amd062520161...
3035  AMD,0000002488,2016-10-26,"10-Q 1 amd092420161...
3036  AMD,0000002488,2017-05-08,"10-Q 1 amd040120171...

[3037 rows x 1 columns]

In [63]:
file_path4 = "/Users/apple/PROJECT/Code_4_SECfilings/fillings/company_df/0000002488.csv"
df2 = pd.read_csv(file_path2, delimiter = ',', header = 0)

In [64]:
df2

   Name   CIK        Date                                               Body
0   AMD  2488  2006-02-27  10-K 1 d10k.htm FOR THE FISCAL YEAR ENDED DECE...
1   AMD  2488  2007-03-01  10-K 1 d10k.htm FORM 10-K Form 10-K Table of C...
2   AMD  2488  2008-02-26  10-K 1 d10k.htm FORM 10-K Form 10-K Table of C...
3   AMD  2488  2009-02-24  10-K 1 d10k.htm FORM 10-K Form 10-K Table of C...
4   AMD  2488  2010-02-19  10-K 1 d10k.htm FORM 10-K Form 10-K Table of C...
5   AMD  2488  2011-02-18  10-K 1 d10k.htm ANNUAL REPORT ON FORM 10-K Ann...
6   AMD  2488  2012-02-24  10-K 1 d257108d10k.htm FORM 10-K Form 10-K Tab...
7   AMD  2488  2013-02-21  10-K 1 d486815d10k.htm FORM 10-K Form 10-K Tab...
8   AMD  2488  2014-02-18  10-K 1 d674550d10k.htm 10-K 10-K Table of Cont...
9   AMD  2488  2015-02-19  10-K 1 d871455d10k.htm 10-K 10-K Table of Cont...
10  AMD  2488  2016-02-18  10-K 1 amd-12262015x10k.htm 10-K 10-K [heading...
11  AMD  2488  2017-02-21  10-K 1 amd-12312016x10k.htm 10-K Document [hea...
12  AMD  2488  2018-02-27  10-K 1 amd-12302017x10k.htm 10-K Document [hea...
13  AMD  2488  2019-02-08  10-K 1 amd-12292018x10k.htm 10-K Document [hea...
14  AMD  2488  2020-02-04  10-K 1 amdform10-kfy2019.htm 10-K Document P6Y...
15  AMD  2488  2021-01-29  10-K 1 amd-20201226.htm 10-K amd-20201226 fals...
16  AMD  2488  2022-02-03  10-K 1 amd-20211225.htm 10-K amd-20211225 10-K...
17  AMD  2488  2023-02-27  10-K 1 amd-20221231.htm 10-K amd-20221231 10-K...

In [16]:
import pandas as pd


file_path1 = "/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002969/part-00000-c2599222-c893-4608-ba6a-3da9db57c1d9-c000.csv"
file_path2 = "/Users/apple/PROJECT/hons_project/data/SP500/company_df/0000002969/part-00001-c2599222-c893-4608-ba6a-3da9db57c1d9-c000.csv"

In [18]:
df = pd.read_csv(file_path2, delimiter=',', encoding='utf-8', header=0)

ParserError: Error tokenizing data. C error: Expected 1127 fields in line 3, saw 1326

In [15]:
df

   Name   CIK        Date                                               Body
0   AMD  2488  2010-08-04  10-Q 1 d10q.htm FORM 10-Q Form 10-Q Table of C...
1   AMD  2488  2010-11-03  10-Q 1 d10q.htm FORM 10-Q Form 10-Q Table of C...
2   AMD  2488  2011-05-10  10-Q 1 d10q.htm FORM 10-Q Form 10-Q Table of C...
3   AMD  2488  2011-08-10  10-Q 1 d10q.htm FORM 10-Q Form 10-Q Table of C...
4   AMD  2488  2011-11-09  10-Q 1 d226122d10q.htm FORM 10-Q Form 10-Q Tab...
5   AMD  2488  2012-05-09  10-Q 1 d312884d10q.htm FORM 10-Q Form 10-Q Tab...
6   AMD  2488  2012-08-02  10-Q 1 d386402d10q.htm FORM 10-Q Form 10-Q Tab...
7   AMD  2488  2012-11-01  10-Q 1 d430047d10q.htm FORM 10-Q Form 10-Q Tab...
8   AMD  2488  2013-05-06  10-Q 1 d528331d10q.htm 10-Q 10-Q Table of Cont...
9   AMD  2488  2013-08-01  10-Q 1 d573303d10q.htm 10-Q 10-Q Table of Cont...
10  AMD  2488  2013-10-30  10-Q 1 d616608d10q.htm 10-Q 10-Q Table of Cont...